*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    color: wheat;
}

body{
    background-color: rgb(224, 220, 228);
}

nav ul{
    display: flex;
    background-color:black;
    padding: 20px;
    justify-content: left;
    color: white;
}
nav ul li{
    margin-left: 50px;
    color: white;
}

.exercicios{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.tarefas{
    padding: 50px;
    background-color: rgb(132, 104, 231);
}
.exercicios :hover{
    background-color: rgb(178, 211, 238);
}